header {
  color: #7DD0D7;
}

body {
  background-color: #0F0F0F;
}

#Art {
  color: #FF0000;
  align-content: left;
}

#Games {
  color: #7FFF80;
  justify-content: right;
}

#Cook {
  color: #0000FF;
  justify-content: center;
}